services:
  unpoller:
    container_name: unpoller
    image: ghcr.io/unpoller/unpoller:latest
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - TZ=America/New_York
      - UP_CONFIG_FILE=/dev/null
      # Controller 0
      - UP_UNIFI_0_URL={{ unifi_controller_url | default('https://10.0.0.1/') }}
      - UP_UNIFI_0_USER={{ unifi_controller_user | default('tecro') }}
      - UP_UNIFI_0_PASS={{ unifi_controller_pass | default('SigmaTheta76') }}
      - UP_UNIFI_0_VERIFY_SSL=false
      # Controller 1
      - UP_UNIFI_1_URL={{ unifi_controller_1_url | default('https://10.1.1.1/') }}
      - UP_UNIFI_1_USER={{ unifi_controller_1_user | default('wowro') }}
      - UP_UNIFI_1_PASS={{ unifi_controller_1_pass | default('D@yl1ghtSh@rp3n#') }}
      - UP_UNIFI_1_VERIFY_SSL=false
      # Global Settings
      - UP_UNIFI_DEFAULT_SAVE_DPI=true
      - UP_UNIFI_DEFAULT_SAVE_TRAFFIC=true
      - UP_INFLUXDB_DISABLE=false
      - UP_INFLUXDB_URL=http://influxdb:8086
      - UP_INFLUXDB_DB={{ influxdb_db | default('unpoller') }}
      - UP_INFLUXDB_USER={{ influxdb_user | default('unpoller') }}
      - UP_INFLUXDB_PASS={{ influxdb_pass | default('unpoller') }}
      - UP_PROMETHEUS_HTTP_LISTEN=0.0.0.0:9130
      - UP_PROMETHEUS_NAMESPACE=unpoller
    depends_on:
      - influxdb
    ports:
      - "9130:9130"
      - "37288:37288"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    labels:
      - "traefik.enable=false"

  influxdb:
    container_name: influxdb
    image: influxdb:1.8
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8086:8086"
    volumes:
      - ./influxdb:/var/lib/influxdb

  grafana:
    container_name: grafana
    image: grafana/grafana:latest
    restart: unless-stopped
    user: "472:472"
    env_file:
      - .env
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_USERNAME}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
      - GF_INSTALL_PLUGINS=grafana-clock-panel,natel-discrete-panel,grafana-piechart-panel
    ports:
      - "3000:3000"
    volumes:
      - ./grafana:/var/lib/grafana
    depends_on:
      - influxdb
