apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: custom-homelab-ee-build
  namespace: ansible-automation-platform
spec:
  output:
    to:
      kind: ImageStreamTag
      name: custom-homelab-ee:latest
  source:
    git:
      uri: https://github.com/sigtom/wow-ocp.git
      ref: main
    contextDir: infrastructure/builds/aap-ee/context
    type: Git
  strategy:
    type: Docker
    dockerStrategy:
      from:
        kind: DockerImage
        name: ghcr.io/ansible/community-ansible-dev-tools:latest
  triggers:
    - type: ConfigChange
    - type: ImageChange
