services:
  dumb:
    container_name: dumb
    image: iampuid0/dumb:latest
    restart: unless-stopped
    stop_grace_period: 30s
    shm_size: 128mb
    stdin_open: true
    tty: true
    volumes:
      - ./config:/config
      - ./log:/log
      - ./data:/data
      - ./mnt/debrid:/mnt/debrid:shared
      - /mnt/nas:/mnt/nas
    env_file:
      - .env
    ports:
      - "3005:3005"   # DUMB Frontend
      - "8080:8080"   # Riven Backend
      - "3000:3000"   # Riven Frontend
      - "8182:8182"   # Zilean
      - "5050:5050"   # pgAdmin
      - "8282:8282"   # Decypharr
      - "32400:32400" # Plex Media Server
      - "8989:8989"   # Sonarr
      - "7878:7878"   # Radarr
      - "8686:8686"   # Lidarr
      - "9696:9696"   # Prowlarr
      - "6969:6969"   # Whisparr
    devices:
      - /dev/fuse:/dev/fuse:rwm
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
