services:
  dumb:
    container_name: dumb
    image: iampuid0/dumb:latest
    restart: unless-stopped
    stop_grace_period: 30s
    shm_size: 128mb
    stdin_open: true
    tty: true
    volumes:
      - ./config:/config
      - ./log:/log
      - ./data:/data
      - /mnt/vfs_cache:/cache
      - ./mnt/debrid:/mnt/debrid:shared
      - /mnt/nas:/mnt/nas
    env_file:
      - .env
    ports:
      - "3005:3005"   # DUMB Frontend
      - "8080:8080"   # Riven Backend
      - "3000:3000"   # Riven Frontend
      - "8182:8182"   # Zilean
      - "5050:5050"   # pgAdmin
      - "8282:8282"   # Decypharr
      - "32400:32400" # Plex Media Server
      - "8989:8989"   # Sonarr
      - "7878:7878"   # Radarr
      - "8686:8686"   # Lidarr
      - "9696:9696"   # Prowlarr
      - "6969:6969"   # Whisparr
    labels:
      - "traefik.enable=true"
      # DUMB Frontend
      - "traefik.http.routers.dumb.rule=Host(`dumb.sigtom.io`)"
      - "traefik.http.routers.dumb.entrypoints=websecure"
      - "traefik.http.routers.dumb.tls.certresolver=cloudflare"
      - "traefik.http.routers.dumb.service=dumb-svc"
      - "traefik.http.services.dumb-svc.loadbalancer.server.port=3005"
      # Riven
      - "traefik.http.routers.riven.rule=Host(`riven.sigtom.io`)"
      - "traefik.http.routers.riven.entrypoints=websecure"
      - "traefik.http.routers.riven.tls.certresolver=cloudflare"
      - "traefik.http.routers.riven.service=riven-svc"
      - "traefik.http.services.riven-svc.loadbalancer.server.port=3000"
      # Sonarr
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.sigtom.io`)"
      - "traefik.http.routers.sonarr.entrypoints=websecure"
      - "traefik.http.routers.sonarr.tls.certresolver=cloudflare"
      - "traefik.http.routers.sonarr.service=sonarr-svc"
      - "traefik.http.services.sonarr-svc.loadbalancer.server.port=8989"
      # Radarr
      - "traefik.http.routers.radarr.rule=Host(`radarr.sigtom.io`)"
      - "traefik.http.routers.radarr.entrypoints=websecure"
      - "traefik.http.routers.radarr.tls.certresolver=cloudflare"
      - "traefik.http.routers.radarr.service=radarr-svc"
      - "traefik.http.services.radarr-svc.loadbalancer.server.port=7878"
      # Prowlarr
      - "traefik.http.routers.prowlarr.rule=Host(`prowlarr.sigtom.io`)"
      - "traefik.http.routers.prowlarr.entrypoints=websecure"
      - "traefik.http.routers.prowlarr.tls.certresolver=cloudflare"
      - "traefik.http.routers.prowlarr.service=prowlarr-svc"
      - "traefik.http.services.prowlarr-svc.loadbalancer.server.port=9696"
    devices:
      - /dev/fuse:/dev/fuse:rwm
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - ./config/bazarr:/config
      - ./mnt/debrid:/mnt/debrid
    restart: unless-stopped
    ports:
      - "6767:6767"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bazarr.rule=Host(`bazarr.sigtom.io`)"
      - "traefik.http.routers.bazarr.entrypoints=websecure"
      - "traefik.http.routers.bazarr.tls.certresolver=cloudflare"
      - "traefik.http.services.bazarr.loadbalancer.server.port=6767"

  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - ./config/sabnzbd:/config
      - /mnt/nas/downloads:/downloads
    ports:
      - "8080:8080"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sabnzbd.rule=Host(`sabnzbd.sigtom.io`)"
      - "traefik.http.routers.sabnzbd.entrypoints=websecure"
      - "traefik.http.routers.sabnzbd.tls.certresolver=cloudflare"
      - "traefik.http.services.sabnzbd.loadbalancer.server.port=8080"

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - WEBUI_PORT=8081
    volumes:
      - ./config/qbittorrent:/config
      - /mnt/nas/downloads:/downloads
    ports:
      - "8081:8081"
      - "6881:6881"
      - "6881:6881/udp"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.qbittorrent.rule=Host(`qb.sigtom.io`)"
      - "traefik.http.routers.qbittorrent.entrypoints=websecure"
      - "traefik.http.routers.qbittorrent.tls.certresolver=cloudflare"
      - "traefik.http.services.qbittorrent.loadbalancer.server.port=8081"

  overseerr:
    image: sctx/overseerr:latest
    container_name: overseerr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - ./config/overseerr:/app/config
    ports:
      - "5055:5055"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.overseerr.rule=Host(`overseerr.sigtom.io`)"
      - "traefik.http.routers.overseerr.entrypoints=websecure"
      - "traefik.http.routers.overseerr.tls.certresolver=cloudflare"
      - "traefik.http.services.overseerr.loadbalancer.server.port=5055"

  tautulli:
    image: lscr.io/linuxserver/tautulli:latest
    container_name: tautulli
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - ./config/tautulli:/config
    restart: unless-stopped
    ports:
      - "8181:8181"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.tautulli.rule=Host(`tautulli.sigtom.io`)"
      - "traefik.http.routers.tautulli.entrypoints=websecure"
      - "traefik.http.routers.tautulli.tls.certresolver=cloudflare"
      - "traefik.http.services.tautulli.loadbalancer.server.port=8181"

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=info
    ports:
      - "8191:8191"
    restart: unless-stopped
