services:
  dumb:
    container_name: dumb
    image: iampuid0/dumb:latest
    restart: unless-stopped
    stop_grace_period: 30s
    shm_size: 128mb
    stdin_open: true
    tty: true
    volumes:
      - ./config:/config
      - ./log:/log
      - ./data:/data
      - ./cache:/cache
      - ./mnt/debrid:/mnt/debrid:shared
      - /mnt/nas:/mnt/nas
    env_file:
      - .env
    ports:
      - "3005:3005"   # DUMB Frontend
      - "8080:8080"   # Riven Backend
      - "3000:3000"   # Riven Frontend
      - "8182:8182"   # Zilean
      - "5050:5050"   # pgAdmin
      - "8282:8282"   # Decypharr
      - "32400:32400" # Plex Media Server
      - "8989:8989"   # Sonarr
      - "7878:7878"   # Radarr
      - "8686:8686"   # Lidarr
      - "9696:9696"   # Prowlarr
      - "6969:6969"   # Whisparr
    labels:
      - "traefik.enable=true"
      # DUMB Frontend
      - "traefik.http.routers.dumb.rule=Host(`dumb.sigtom.io`)"
      - "traefik.http.routers.dumb.entrypoints=websecure"
      - "traefik.http.routers.dumb.tls.certresolver=cloudflare"
      - "traefik.http.routers.dumb.service=dumb-svc"
      - "traefik.http.services.dumb-svc.loadbalancer.server.port=3005"
      # Riven
      - "traefik.http.routers.riven.rule=Host(`riven.sigtom.io`)"
      - "traefik.http.routers.riven.entrypoints=websecure"
      - "traefik.http.routers.riven.tls.certresolver=cloudflare"
      - "traefik.http.routers.riven.service=riven-svc"
      - "traefik.http.services.riven-svc.loadbalancer.server.port=3000"
      # Sonarr
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.sigtom.io`)"
      - "traefik.http.routers.sonarr.entrypoints=websecure"
      - "traefik.http.routers.sonarr.tls.certresolver=cloudflare"
      - "traefik.http.routers.sonarr.service=sonarr-svc"
      - "traefik.http.services.sonarr-svc.loadbalancer.server.port=8989"
      # Radarr
      - "traefik.http.routers.radarr.rule=Host(`radarr.sigtom.io`)"
      - "traefik.http.routers.radarr.entrypoints=websecure"
      - "traefik.http.routers.radarr.tls.certresolver=cloudflare"
      - "traefik.http.routers.radarr.service=radarr-svc"
      - "traefik.http.services.radarr-svc.loadbalancer.server.port=7878"
      # Prowlarr
      - "traefik.http.routers.prowlarr.rule=Host(`prowlarr.sigtom.io`)"
      - "traefik.http.routers.prowlarr.entrypoints=websecure"
      - "traefik.http.routers.prowlarr.tls.certresolver=cloudflare"
      - "traefik.http.routers.prowlarr.service=prowlarr-svc"
      - "traefik.http.services.prowlarr-svc.loadbalancer.server.port=9696"
    devices:
      - /dev/fuse:/dev/fuse:rwm
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
