#-------------------------------------
# Global Variables
#-------------------------------------
PUID=1000
PGID=1000
TZ=America/New_York

#-------------------------------------
# DUMB Variables
#-------------------------------------
DUMB_LOG_LEVEL=INFO
DUMB_LOG_NAME=DUMB
DUMB_LOG_DIR=/log
DUMB_LOG_COUNT=2
DUMB_LOG_SIZE=10M
DUMB_COLOR_LOG=true

#-------------------------------------
# DUMB API Variables
#-------------------------------------
DUMB_API_SERVICE_ENABLED=true
DUMB_API_SERVICE_PROCESS_NAME=DUMB API
DUMB_API_SERVICE_LOG_LEVEL=INFO
DUMB_API_SERVICE_HOST=0.0.0.0
DUMB_API_SERVICE_PORT=8000

#-------------------------------------
# DUMB Frontend Variables
#-------------------------------------
DUMB_FRONTEND_ENABLED=true
DUMB_FRONTEND_PROCESS_NAME=DUMB Frontend
DUMB_FRONTEND_HOST=0.0.0.0
DUMB_FRONTEND_PORT=3005

#-------------------------------------
# PostgreSQL Variables
#-------------------------------------
POSTGRES_ENABLED=true
POSTGRES_PROCESS_NAME=PostgreSQL
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=DUMB
POSTGRES_PASSWORD={{ dumb_postgres_password }}

#-------------------------------------
# Rclone + Zurg (RealDebrid)
#-------------------------------------
RCLONE_INSTANCES_REALDEBRID_ENABLED=true
RCLONE_INSTANCES_REALDEBRID_PROCESS_NAME=rclone w/ RealDebrid
RCLONE_INSTANCES_REALDEBRID_KEY_TYPE=RealDebrid
RCLONE_INSTANCES_REALDEBRID_ZURG_ENABLED=true
RCLONE_INSTANCES_REALDEBRID_MOUNT_DIR=/data
RCLONE_INSTANCES_REALDEBRID_MOUNT_NAME=rclone_RD
RCLONE_INSTANCES_REALDEBRID_API_KEY={{ realdebrid_api_key }}

#-------------------------------------
# Rclone + Zurg (TorBox)
#-------------------------------------
RCLONE_INSTANCES_TORBOX_ENABLED=false
RCLONE_INSTANCES_TORBOX_PROCESS_NAME=rclone w/ TorBox
RCLONE_INSTANCES_TORBOX_KEY_TYPE=TorBox
RCLONE_INSTANCES_TORBOX_ZURG_ENABLED=true
RCLONE_INSTANCES_TORBOX_MOUNT_DIR=/data
RCLONE_INSTANCES_TORBOX_MOUNT_NAME=rclone_TB
RCLONE_INSTANCES_TORBOX_API_KEY={{ torbox_api_key }}

#-------------------------------------
# Zurg (RealDebrid)
#-------------------------------------
ZURG_INSTANCES_REALDEBRID_ENABLED=true
ZURG_INSTANCES_REALDEBRID_PROCESS_NAME=Zurg w/ RealDebrid
ZURG_INSTANCES_REALDEBRID_KEY_TYPE=RealDebrid
ZURG_INSTANCES_REALDEBRID_API_KEY={{ realdebrid_api_key }}

#-------------------------------------
# Zurg (TorBox)
#-------------------------------------
ZURG_INSTANCES_TORBOX_ENABLED=false
ZURG_INSTANCES_TORBOX_PROCESS_NAME=Zurg w/ TorBox
ZURG_INSTANCES_TORBOX_KEY_TYPE=TorBox
ZURG_INSTANCES_TORBOX_API_KEY={{ torbox_api_key }}

#-------------------------------------
# Riven Variables
#-------------------------------------
RIVEN_BACKEND_ENABLED=true
RIVEN_BACKEND_PROCESS_NAME=Riven Backend
RIVEN_BACKEND_HOST=0.0.0.0
RIVEN_BACKEND_PORT=8080
RIVEN_BACKEND_WAIT_FOR_DIR=/data/rclone_RD/__all__
RIVEN_BACKEND_SYMLINK_LIBRARY_PATH=/mnt/debrid

RIVEN_FRONTEND_ENABLED=true
RIVEN_FRONTEND_PROCESS_NAME=Riven Frontend
RIVEN_FRONTEND_HOST=0.0.0.0
RIVEN_FRONTEND_PORT=3000

#-------------------------------------
# Zilean Variables
#-------------------------------------
ZILEAN_ENABLED=true
ZILEAN_PROCESS_NAME=Zilean
ZILEAN_HOST=0.0.0.0
ZILEAN_PORT=8182

#-------------------------------------
# pgAdmin Variables
#-------------------------------------
PGADMIN_ENABLED=true
PGADMIN_PROCESS_NAME=pgAdmin4
PGADMIN_PORT=5050
PGADMIN_DEFAULT_SERVER=0.0.0.0
PGADMIN_SETUP_EMAIL=admin@sigtom.dev
PGADMIN_SETUP_PASSWORD={{ dumb_pgadmin_password }}
