apiVersion: v1
kind: ConfigMap
metadata:
  name: zurg-config
  namespace: media-stack
data:
  config.yml: |
    zurg: v1
    token: YOUR_RD_API_TOKEN
    host: "[::]"
    port: 9999
    concurrent_workers: 20
    check_for_changes_every_secs: 15
    ignore_renames: false
    retain_rd_torrent_name: true
    retain_folder_name_extension: true
    auto_delete_rar_torrents: true
    use_download_cache: true
    enable_repair: true
    on_library_update: |
      for arg in "$@"
      do
          echo "detected update on: $arg"
      done
    network_buffer_size: 1048576
    serve_from_rclone: false
    verify_download_link: true
    force_ipv6: false
    rate_limit_sleep_secs: 6
    realdebrid_timeout_secs: 60
    retries_until_failed: 5
    directories:
      anime:
        group: media
        group_order: 10
        filters:
          - and:
            - has_episodes: true
            - any_file_inside_regex: /^\[/
            - any_file_inside_not_regex: /s\d\de\d\d/i
      shows:
        group: media
        group_order: 20
        filters:
          - has_episodes: true
      movies:
        group: media
        group_order: 30
        only_show_the_biggest_file: true
        filters:
          - regex: /.*/
