- name: Wait for SSH to become available
  ansible.builtin.wait_for_connection:
    timeout: 300

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install dependencies
  ansible.builtin.apt:
    name:
      - curl
      - wget
      - libunwind8
      - icu-devtools
    state: present

- name: Check if Technitium is installed
  ansible.builtin.stat:
    path: /etc/dns/dns.config.json
  register: technitium_config

- name: Download and run Technitium installer
  ansible.builtin.shell: "curl -sL https://download.technitium.com/dns/install.sh | sudo bash"
  when: not technitium_config.stat.exists

- name: Ensure Technitium service is started
  ansible.builtin.systemd:
    name: dns
    state: started
    enabled: yes
