- name: Ensure LXC container exists
  community.general.proxmox_nic:
    api_user: "{{ pve_api_user }}"
    api_token_id: "{{ pve_api_token_id }}"
    api_token_secret: "{{ pve_api_token_secret }}"
    api_host: "{{ proxmox_api_host | default(hostvars[proxmox_node].ansible_host) }}"
    node: "{{ proxmox_node }}"
    vmid: "{{ vmid }}"
    hostname: "{{ inventory_hostname }}"
    ostemplate: "TSVMDS01:vztmpl/ubuntu-22.04-standard_22.04-1_amd64.tar.zst"
    password: "{{ lookup('password', '/dev/null length=20 chars=ascii_letters,digits') }}"
    pubkey: "{{ global_ssh_keys | join('\n') }}"
    storage: "TSVMDS01"
    rootfs: "TSVMDS01:8"
    memory: 512
    cores: 1
    net0: "name=eth0,bridge={{ lab_bridge }},tag={{ lab_vlan_mgmt }},ip={{ ansible_host }}/24,gw={{ lab_gw }}"
    state: present
    unprivileged: yes
  delegate_to: localhost

- name: Ensure LXC is started
  community.general.proxmox:
    api_user: "{{ pve_api_user }}"
    api_token_id: "{{ pve_api_token_id }}"
    api_token_secret: "{{ pve_api_token_secret }}"
    api_host: "{{ proxmox_api_host | default(hostvars[proxmox_node].ansible_host) }}"
    node: "{{ proxmox_node }}"
    vmid: "{{ vmid }}"
    state: started
  delegate_to: localhost
