apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-monitoring-config
  namespace: openshift-monitoring
data:
  config.yaml: |
    enableUserWorkload: true
    prometheusK8s:
      volumeClaimTemplate:
        spec:
          storageClassName: truenas-nfs
          resources:
            requests:
              storage: 20Gi
    alertmanagerMain:
      config: |
        global:
          resolve_timeout: 5m
        route:
          group_by: ['namespace']
          group_wait: 30s
          group_interval: 5m
          repeat_interval: 12h
          receiver: 'apprise'
          routes:
          - matchers:
            - alertname = Watchdog
            receiver: 'Watchdog'
        receivers:
        - name: 'Default'
        - name: 'Watchdog'
        - name: 'Critical'
        - name: 'apprise'
          webhook_configs:
          - url: 'http://apprise-bridge.media-stack.svc.cluster.local/alert'
      secrets:
        - slack-webhook
      volumeClaimTemplate:
        spec:
          storageClassName: truenas-nfs
          resources:
            requests:
              storage: 5Gi
