apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-monitoring-config
  namespace: openshift-monitoring
data:
  config.yaml: |
    enableUserWorkload: true
    prometheusK8s:
      volumeClaimTemplate:
        spec:
          storageClassName: truenas-nfs
          resources:
            requests:
              storage: 100Gi
    alertmanagerMain:
      secrets:
        - slack-webhook
      volumeClaimTemplate:
        spec:
          storageClassName: truenas-nfs
          resources:
            requests:
              storage: 5Gi
