---
- name: "Login to {{ pihole.name }}"
  ansible.builtin.uri:
    url: "{{ pihole.url }}/auth"
    method: POST
    body_format: json
    body:
      password: "{{ pihole.token }}"
    validate_certs: false
    status_code: [200]
  register: auth_result

- name: "Set Session ID for {{ pihole.name }}"
  ansible.builtin.set_fact:
    pihole_sid: "{{ auth_result.json.session.sid }}"

- name: "Sync DNS records to {{ pihole.name }}"
  ansible.builtin.uri:
    url: "{{ pihole.url }}/config/dns/hosts/{{ traefik_ip }}%20{{ item }}"
    method: PUT
    headers:
      sid: "{{ pihole_sid }}"
    validate_certs: false
    status_code: [200]
  loop: "{{ dns_records }}"
  register: update_result
  changed_when: "update_result.status == 200"

- name: "Logout from {{ pihole.name }}"
  ansible.builtin.uri:
    url: "{{ pihole.url }}/auth"
    method: DELETE
    headers:
      sid: "{{ pihole_sid }}"
    validate_certs: false
    status_code: [204, 404]
